*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
nav{
    display: none;
}
main {
    padding: 2em;
    background-color: transparent;
    display: grid;
    grid-template-columns: 25% 75%;
    height: 100vh;
}
.sidebar{
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    border-radius: 20px;
    padding: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.profile-image{
    width: 10em;
    height: 10em;
    background-color: lightgray;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    overflow: hidden    ;
}
.profile-image img{
    max-width: 200%;
    max-height: 200%;
    position: absolute;
    top: -70%;
    left: -40%;
}
.menu-container{
    padding: 2em;
    border-top: 1px solid black;
    margin-top: 2em;
}
.menu-container ul li{
    list-style: none;
    font-family: 'Poppins';
    padding: .5em;
    text-align: left;
    transition: .2s ease-in;
}
.menu-container ul li:hover{
    background-color: lightblue;
    cursor: pointer;
    border-radius: 20px;
}
.main-container{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    height: auto;
    padding: 4em;
    font-family: 'Poppins';
    margin-left: 1em;
}
.social-media{
    background-color: transparent;
    width: 100%;
    margin-top: 2em;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.social-media p{
    font-family: 'Poppins';
    text-align: center;
}
.social-media button{
    background-color: black;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    transition: .5s ease;
    font-size: 1.5em;
}
.social-media button a{
    color: white;
}
.social-media button:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
}
.header h1 {
    font-size: 3em;
    text-transform: uppercase;
}
.header hr{
    width: 70%;
    height: 3px;
    outline: none;
    border: none;
    background-color: black;
}
.content{
    margin-top: 1em;
    background-color: transparent;
    padding: 1em;
    height: 50vh;
    width: 100%;
}
.title{
    font-size: 2em;
    text-transform: uppercase;
}
.project-container{
    background-color: transparent;
    height: 55vh;
    width: 100%;
    overflow-y: scroll;
}
.project-box{
    display: flex;
    flex-direction: row;
    width: calc(35% * 4);
    height: auto;
}
.card-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.box1, .box2{
    background-color: transparent;
    height: 100%;
    width: 50%;
    padding: .5em;
}
.box2{
    background-color: transparent;
    padding: 1em;
}
.box2 img{
    margin-top: 1em;
    align-items: center;
}
.box1 ul li, .certification-item ul li{
    padding: 10px;
    font-weight: bold;
}
.box1 ul li:hover, .certification-item ul li a:hover{
    color: blue;
    text-decoration: underline  ;
    cursor: pointer;
}
.project-item{
    height: 100%;
    position: relative;
    background-color: white;
    box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
    border-radius: 1em;
    width: 30%;
    margin: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s ease;
}
.project-item img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.btn-container{
    width: 100%;
    background-color: transparent;
}
.btn-container button{
    background-color: rgb(22, 135, 240);
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 10px;
    outline: none;
    margin-top: 5px;
}
.btn-container button:hover{
    cursor: pointer;
    background-color: lightgray;
}
.project-item:hover{
    cursor: pointer;
    box-shadow: 3px 3px 6px black, -3px -3px 6px black;
}
.card-sm{
    height: 100%;
    width: 30%;
    padding: 1em;
    background-color: white;
    margin: .5em;
    border-radius: 1em;
    box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
    overflow-x: scroll;
    scrollbar-width: none;
}
.knowledge-list, .certification-list{
    list-style: disc;
    padding: 1em 2em;
}
.certification-container{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow: scroll;
    scrollbar-width: none;
}
.certification-item{
    width: 100%;
    height: 15em;
    position: relative;
    margin: 10px;
    overflow: scroll;
    scrollbar-width: none;
}
.certification-item img{
    max-width: 100%;
    max-height: 100%;
}
.certification-container a{
    color: black;
    text-decoration: none;
}
/* .certification-container a:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
} */
.modal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal-content{
    width: 30%;
    height: 80vh;
    padding: 2em;
    background-color: white;
    box-shadow: 2px 2px 5px gray, -2px -2px 5px gray;
    border-radius: 1em;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
}
.modal-header{
    padding: 1em 0em;
}
.modal-body{
    width: 100%;
    background-color: transparent;
    height: 100%;
    padding: 1em;
}
.modal-body ul{
    padding: 1em 2em
}
.modal a button{
    width: 100%;
    padding: 10px;
    margin: .5em;
    border-radius: 10px;
    outline: none;
    border: none;
    text-transform: uppercase;
    transition: .3s ease-in;
}
.modal-body a{
    width: 100px;
    height: 100px;
    text-decoration: none;
}
#btn_livedemo{
    background-color: #008DDA;
}
#btn_repository{
    background-color: #41C9E2;
}
.modal-body button:hover{
    cursor: pointer;
    box-shadow: 2px 2px 4px gray, -2px -2px 4px gray;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: auto;
    margin-right: 10px;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    
  }
@media (min-width: 700px){
    .sidebar{
        left: 0%;
    }
}
@media (max-width: 600px) {
    nav{
        display: flex;
        padding: 1em;
        background-color: transparent;
        position: sticky;
        top: 0;
        z-index: 2;
    }
    nav i {
        font-size: 2em;
        padding: .3em;
        background-color: black;
        color: white;
        border-radius: 5px;
    }
    #btn_hidemenu{
        display: none;
    }
    main{
        background-color: transparent;
        padding: 0;
        grid-template-columns: 100% 100%;
    }
    .sidebar{
        position: fixed;
        left: -110%;
        border-radius: 0;
        top: 0;
        width: 100%;
        transition: .5s ease-in;
        z-index: 1;
        height: 100vh;
    }
    .main-container{
        padding: 1.5em;
        height: auto;
        margin: 0;
    }
    .project-box{
        width: calc(100% * 4);
    }
    .project-item{
        width: 100%;
    }
    .project-container{
        background-color: transparent;
        height: auto;
    }
    .certification-container{
        height: 60vh;
        background-color: transparent;
    }
    .certification-item{
        height: inherit;
    }
    .card-box{
        width: 100%;
        height: auto;
        flex-direction: column;
        background-color: transparent;
    }
    .box1, .box2{
        width: 100%;
    }
    .card-sm{
        width: 100%;
        box-shadow: 1px 1px 3px gray, -1px -1px 3px gray;
    }
}